<!DOCTYPE html>
<html>
	<head>
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

	</head>
	<body style="height: 100vh; width: 100vw;">
		<nav class="indigo darken-4"> 
			<div class="nav-wrapper">
				<a href="/" class="brand-logo pink-text text-lighten-5">Amazebay</a>
			</div>
		</nav>
		<div class="container valign-wrapper" style="height: 100%;">
			{% block body %}{% endblock %}
	 	</div>
	</body>
</html>
