<!DOCTYPE html>
<html>
	<head>
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

	</head>
	<body style="height: 90vh; width: 100vw;">
		<nav class="grey darken-3"> 
			<div class="nav-wrapper">
				<a href="/" class="brand-logo center grey-text text-lighten-5">Amazebay</a>
			</div>
		</nav>
		<div class="container valign-wrapper" style="height: 100%;">
			{% block body %}{% endblock %}
	 	</div>
	 	<footer class="page-footer grey lighten-4">
	 		<div class="footer-copyright grey lighten-3">
	            <div class="container black-text">
	            	<a href="https://www.vice.com/en_us/article/here-are-all-the-ways-you-can-hurt-yourself-from-masturbating-212" target="_blank">© 2017 Capital 2</a>
	            </div>
          	</div>
	 	</footer>
	</body>
</html>
